/* configs padrao */
body {
  font-family: "Bebas Neue", cursive;
}

h1,
h2,
h3,
h4,
p,
a {
  color: white !important;
  text-decoration: none;
}

/* font */
.font-inter {
  font-family: "Inter", sans-serif !important;
}

/* bootstrap */
.bg-principal {
  background-color: #15052c;
}
.bg-principal {
  background-color: #15052c;
}

.bg-secundaria {
  background-color: #2b2a05;
}

.btn-outline-light:hover {
  color: #2cd524 !important;
}

.btn-secondary-dark {
  color: white !important;
  background: rgba(235, 153, 36, 0.6) !important;
}
.btn-secondary-dark:hover {
  color: white !important;
  background: rgba(235, 153, 36, 1) !important;
}

.btn-secondary {
  color: white !important;
  background: rgba(235, 153, 36, 1) !important;
  border-color: rgba(235, 153, 36, 0.6);
}
.btn-secondary:hover {
  color: white !important;
  background: #15052c !important;
  border-color: #15052c;
}
.fs-7 {
  font-size: 14px;
}
.btn-radiotivo {
  background-color: #2cd524;
  color: white;
}

.btn-radiotivo:hover {
  background-color: white;
  color: #15052c !important;
}

/* section-home */

#section-home .container {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

/* section-populares-parceiros */

#parceiros {
  padding-top: 200px;
  padding-bottom: 200px;
}
.cards-episodios {
  position: static;
}
/* section-ultimos-episodios */
.icon-play {
  color: #2cd524 !important;
}
.icon-play:hover {
  color: #1b5518 !important;
}

/* section-form-email */
#section-form-email {
  padding-top: 400px;
  padding-bottom: 400px;
  background-image: url("imgs/cardForm.png");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position-x: start;
  background-position-y: bottom;
}

/* utilidades */
.icon-hover-radiotivo:hover {
  color: #2cd524 !important;
}
.card-fundo-amarelo-claro {
  background: rgba(239, 233, 215, 1);
}

.underline-link:hover {
  text-decoration: underline;
}

@media (min-width: 900px) {
  /* section-home */

  #section-home {
    padding-bottom: 7rem !important;
  }

  /* section-populares-parceiros */
  #section-populares-parceiros {
    background-image: url("imgs/cardParceiros.png");
    background-repeat: no-repeat;
    background-size: 90% 400px;
    background-position-x: right;
    background-position-y: center;
  }
  .cards-episodios {
    position: absolute;
    top: -150px;
  }

  /* section-form-email */
  #section-form-email {
    padding-top: 400px;
    padding-bottom: 400px;
    background-image: url("imgs/cardForm.png");
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position-x: center;
    background-position-y: bottom;
  }
}

@media (min-width: 700px) {
  /* section-home */
  #section-home {
    background-image: url("imgs/bgSection.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
  }

  #section-home .container {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  /* section-populares-parceiros */
}
